<div class="container-header">
    <header>
        <div class="logo">
            <a href="#">{{persona.anagrafica?.nome}}</a>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="#home">HOME</a></li>
                <li><a href="#aboutMe">ABOUT ME</a></li>
                <li><a href="#skills">SKILLS</a></li>
                <li><a href="#curriculum">CURRICULUM</a></li>
                <li><a href="#portfolio">PORTFOLIO</a></li>
            </ul>
        </nav>
    </header>
</div>